.bg {
  background-image: url("https://cdn.pixabay.com/photo/2022/07/19/10/35/puppies-7331739_960_720.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: auto;
}
