.container {
  border: 2px solid palevioletred;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 200px;
}
.flexitem1 {
  background-color: orange;
}
.flexitem2 {
  background-color: white;
}
.flexitem3 {
  background-color: greenyellow;
}
